*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

body{

max-width:1000px;
margin:auto;
padding:20px;

}

header{

text-align:center;
margin-bottom:20px;

}

h1{

margin-bottom:10px;

}

main{

display:grid;
gap:20px;

}

.animation,
.transition,
.transform{

display:flex;
align-items:center;
height:170px;
border-radius:10px;

}

.animation{

background:#f2faf4;

}

.transition{

background:#f3f8fd;

}

.transform{

background:#f8f4fd;

}

.animation-text,
.transition-text,
.transform-text{

width:30%;
padding:20px;

}

.animation-area,
.transition-area,
.transform-area{

width:70%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
background:#fff;
border:1px solid #ddd;
border-radius:10px;
overflow:hidden;

}

.animation-title{

color:#2ca450;

}

.transition-title{

color:#197ada;

}

.transform-title{

color:#8c51ba;

}

h3 span{

display:inline-flex;
justify-content:center;
align-items:center;

width:35px;
height:35px;

border-radius:50%;
color:white;
margin-right:8px;

}

.animation-title span{

background:#2ca450;

}

.transition-title span{

background:#197ada;

}

.transform-title span{

background:#8c51ba;

}

/* Animation Box */

.animation-box{

width:100px;
height:100px;
border-radius:10px;
overflow:hidden;

animation:moveBox 3s infinite ease-in-out;

}

.animation-box img{

width:100%;
height:100%;
object-fit:cover;
display:block;

}

@keyframes moveBox{

0%{

transform:translateX(-180px);

}

50%{

transform:translateX(180px);

}

100%{

transform:translateX(-180px);

}

}

/* Button */

.btn{

padding:15px 40px;
font-size:22px;
border:none;
border-radius:8px;
background:#197ada;
color:white;
cursor:pointer;

transition:.3s;

}

.btn:hover{

background:#2ca450;
transform:scale(1.1);

}

/* Transform Box */

.box{

width:100px;
height:100px;
background:#8c51ba;
color:white;
display:flex;
justify-content:center;
align-items:center;
border-radius:10px;

transition:.3s;

}

.transform-box:hover{

transform:rotate(15deg);

}
